<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Veetreen</title>

    <script
    src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
    crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='board_style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
                <div class="navbar-header">
                      <a class="navbar-brand" href="/">Veetreen</a>
                </div>
                {% if context %}
                    <ul class="nav navbar-nav navbar-right">
                          <li><p class="navbar-text"><img src="{{ context.user_picture }}" style="border-radius: 50%; max-width: 20px; margin-right: 5px;"/> {{ context.user_name }}</p></li>
                    </ul>
                {% endif %}
          </div>

    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
  </body>
</html>
