{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

    <div class="container">

        <h1 class="mt-3">Login</h1>

        <form class="login mt-3" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|bootstrap }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-actions">
            <button class="btn btn-danger btn-block" type="submit">{% trans "Sign In" %}</button>
            <a class="btn btn-outline-info btn-block" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

          </div>
        </form>
        <h3 class="mt-3">Or</h3>

        <a href="{% url 'facebook_login_by_token' %}" class="btn btn-primary btn-block mt-3">Login with Facebook</a>
    </div>

{% endblock %}
